<div class="contentor_painel">
  <nav class="contentor_painel--navegacao">
    <div class="logotipo">
      <img src="./barbell.png" alt="logotipo" srcset="" class="img-logotipo" />
    </div>
    <ul class="menu_navegacao">
      <li class="item_navegacao"><span>Painel Analítico</span></li>
      <li class="item_navegacao"><span>Utilizadores</span></li>
    </ul>
  </nav>

  <div class="conteudo">
    <header class="contentor_painel--cabecalho">
      <div></div>
      <div class="caixa_con_util">
        <div class="caixa-notif">
          <fa-icon [icon]="notifIcon"></fa-icon>
        </div>
        <div class="caixa-config">
          <fa-icon [icon]="configIcon"></fa-icon>
        </div>
        <div class="caixa-util">
          <img src="" alt="imagem_de_perfil" srcset="" class="img-util_perfil" />
        </div>
      </div>
    </header>
    <main>
      <router-outlet />
    </main>
  </div>
</div>
