<div class="componente-login">
  <form action="" class="formulario-login" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="campo-dados">
      <label for="emailId">E-mail:</label>
      <input type="text" name="email" id="emailId" class="txt txt-email" formControlName="identificador" />
      <div *ngIf="loginForm.get('identificador')?.touched && loginForm.get('identificador')?.invalid" class="alert-error">
        <small *ngIf="loginForm.get('identificador')?.hasError('required')">O e-mail é obrigatório.</small>
        <small *ngIf="loginForm.get('identificador')?.hasError('identificador')">Introduz um e-mail com formato válido.</small>
      </div>
    </div>
    <div class="campo-dados">
      <label for="palavraPasseId">Palavra-passe:</label>
      <input type="password" name="palavra_passe" id="palavraPasseId" class="txt txt-palavra-passe" formControlName="palavraPasse"  />
      <div *ngIf="loginForm.get('palavraPasse')?.touched && loginForm.get('palavraPasse')?.invalid" class="alert-error">
        <small>A palavra-passe é obrigatória.</small>
      </div>
    </div>
    <button type="submit" class="btn btn-registar">Entrar</button>
    <hr />
    <p><span> Esqueceu a palavra-passe? </span></p>
    <p routerLink="/home/registo"><span>Fazer Registo</span></p>
  </form>
</div>
