<!-- Componente de Registo -->
<div class="componente-registo">
  <form action="" class="formulario-registo" [formGroup]="registoForm" (ngSubmit)="fazerRegisto()">
    <div class="form-group">
      <label for="foto">Foto de Perfil (Opcional)</label>
      <input type="file" id="foto" (change)="aoSelecionarFoto($event)" accept="image/*" class="form-control-file" />
    </div>
    <div class="campo-dados">
      <label for="nomeId">Nome:</label>
      <input type="text" name="nome" id="nomeId" class="txt txt-nome" formControlName="nome" />

      <div *ngIf="registoForm.get('nome')?.touched && registoForm.get('nome')?.invalid" class="alert-error">
        <small *ngIf="registoForm.get('nome')?.hasError('required')"> O nome e obrigatorio.</small>
        <small *ngIf="registoForm.get('nome')?.hasError('minlength')"> O nome deve ter pelo menos 3 caracteres.</small>

      </div>
    </div>
    <div class="campo-dados">
      <label for="sobrenomeId">Sobrenome:</label>
      <input type="text" name="sobrenome" id="sobrenomeId" class="txt txt-sobrenome" formControlName="sobrenome" />

      <div *ngIf="registoForm.get('sobrenome')?.touched && registoForm.get('sobrenome')?.invalid" class="alert-error">
        <small *ngIf="registoForm.get('sobrenome')?.hasError('required')"> O sobrenome e obrigatorio.</small>
        <small *ngIf="registoForm.get('sobrenome')?.hasError('minlength')"> O sobrenome deve ter pelo menos 3 caracteres.</small>

      </div>
    </div>
    <div class="campo-dados">
      <label for="nomeUtilizadorId">Nome de Utilizador:</label>
      <input
        type="text"
        name="nome_utilizador"
        id="nomeUtilizadorId"
        class="txt txt-nome-utilizador"
        formControlName="nomeUtilizador"
      />

      <div *ngIf="registoForm.get('nomeUtilizador')?.touched && registoForm.get('nomeUtilizador')?.invalid" class="alert-error">
        <small *ngIf="registoForm.get('nomeUtilizador')?.hasError('required')"> O nome de utilizador e obrigatorio.</small>
        <small *ngIf="registoForm.get('nomeUtilizador')?.hasError('minlength')">O nome de utilizador deve ter pelo menos 3 caracteres</small>
      </div>
    </div>

    <div class="campo-dados">
      <label for="emailId">Email:</label>
      <input type="email" name="email" id="emailId" class="txt txt-email" formControlName="email" />

      <div *ngIf="registoForm.get('email')?.touched && registoForm.get('email')?.invalid" class="alert-error">
        <small *ngIf="registoForm.get('email')?.hasError('required')">O e-mail e obrigatorio.</small>
        <small *ngIf="registoForm.get('email')?.hasError('email')">Introduz um e-mail com formato valido.</small>
      </div>
    </div>
    <div class="campo-dados">
      <label for="dataNascimentoId">Data de Nascimento:</label>
      <input type="date" name="data_nascimento" id="dataNascimentoId" class="txt txt-dataNascimento" formControlName="dataNascimento" />

      <div *ngIf="registoForm.get('dataNascimento')?.touched && registoForm.get('dataNascimento')?.invalid" class="alert-error">
        <small *ngIf="registoForm.get('dataNascimento')?.hasError('required')">A data de nascimento e obrigatoria.</small>
      </div>
    </div>
    <label for="generoId">Gênero:</label>
    <div class="campo-dados">
      <input type="radio" name="genero" id="masculinoId" class="radio radio-masculino" formControlName="genero" [value]="1" />
      <label for="masculinoId">Masculino:</label>
    </div>
    <div class="campo-dados">
      <input type="radio" name="genero" id="femeninoId" class="radio radio-femenino" formControlName="genero" [value]="2" />
      <label for="fameninoId">Femenino:</label>
    </div>
    <div class="campo-dados">
      <label for="palavraPasseId">Palavra-passe:</label>
      <input type="password" name="palavra_passe" id="palavraPasseId" class="txt txt-palavra-passe" formControlName="palavraPasse" />
      <div *ngIf="registoForm.get('palavraPasse')?.touched && registoForm.get('palavraPasse')?.invalid" class="alert-error">
        <small *ngIf="registoForm.get('palavraPasse')?.hasError('required')">A palavra-passe e obrigatoria</small>
        <small *ngIf="registoForm.get('palavraPasse')?.hasError('minlength')">A palavra-passe deve ter pelo menos 6 caracteres</small>
      </div>
    </div>
    <div class="campo-dados">
      <input
        type="checkbox"
        name="termos"
        id="termoId"
        class="txt txt-palavra-passe"
      />
      <label for="termoId">Concordo com os termos da Nzolanet</label>
    </div>
    <button type="submit" class="btn btn-registar" [disabled]="registoForm.invalid || carregar">
      <span *ngIf="!carregar">Registar Conta</span>
        <span *ngIf="carregar">A criar conta...</span>
    </button>
    <hr />
    <p routerLink="/home/login"><span> Já tem uma conta? </span></p>
  </form>
</div>
